* {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color: gray;
}

.container {
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.calculadora {
    background-color: rgb(245, 183, 69);
    width: 200px;
    height: 400px;
    border-radius: 15px;
    padding: 30px 30px 30px 30px;

}

#botao-calcular {
    width: 100%;
    text-align: center;
    margin: 10px 0px 20px 0px;
    color: rgb(245, 183, 69);
    background-color: black;
    padding: 5px 80px 5px 80px;
    border-radius: 5px;
}

.title {
padding-bottom: 20px;
}

.caixa-texto {
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
    border-radius: 3px
}

#result {
    text-align: center;
    color: white;
    background-color: black;
    padding: 50px 0px 50px 0px ;
    font-size: 15px;
    border-radius: 5px;
}